<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Matt Fewer | Web Developer</title>
	<link rel='shortcut icon' type='image/x-icon' href='/2dwebsite/2dwebsite/img/favicon.ico' />
	<link rel="stylesheet" type="text/css" href="2dwebsite/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="2dwebsite/stylesheets/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="2dwebsite/stylesheets/animate.css">
	<link rel="stylesheet" type="text/css" href="2dwebsite/stylesheets/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="2dwebsite/stylesheets/personalwebsite.css">
	<link rel="stylesheet" type="text/css" href="2dwebsite/stylesheets/animate.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>



        {{{body}}}




    <!--Close fullpage-->
	<script type="text/javascript" src="2dwebsite/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="2dwebsite/scripts/foundation.min.js"></script>
	<script type="text/javascript" src="2dwebsite/scripts/jquery.easings.min.js"></script>
	<script type="text/javascript" src="2dwebsite/scripts/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="2dwebsite/scripts/jquery.fullPage.js"></script>
	<script type="text/javascript" src="2dwebsite/scripts/wow.min.js"></script>
	<script type="text/javascript" src="2dwebsite/scripts/personalwebsite.js"></script>
</body>

</html>
